.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.pay-allowances-explainers-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.pay-allowances-explainers-container2 {
  display: none;
}
 
.pay-allowances-explainers-container3 {
  display: contents;
}
