.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.pcs-housing-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.pcs-housing-icon32 {
  margin-right: 8px;
}
 
.pcs-housing-container25 {
  display: none;
}
 
.pcs-housing-container26 {
  display: contents;
}
 
.pcs-housing-container27 {
  display: none;
}
 
.pcs-housing-container28 {
  display: contents;
}
